<div class="certificate">
    <div class="certificate-inner">

        <div class="center_text">
            <p class="big_title editContent certificate_title">Certificate of proof</p>
            <p class="normal_text light_gray editContent">This certifies that file exists on the Exonum blockchain.</p>
        </div>

        <div class="certificate_info">
            <p class="certificate_label">File hash:</p>
            <p class="certificate_value certificate_value_hash">{{hash}}</p>

            {{#if description}}
                <p class="certificate_label">Description:</p>
                <p class="certificate_value">{{description}}</p>
            {{/if}}

            <p class="certificate_label">Created at:</p>
            <p class="certificate_value">{{formatDate time 'HH:mm:ss MMMM DD, YYYY'}}</p>

            <p class="certificate_label">File:</p>
            <p class="certificate_value"><a href="{{file_path}}" target="_blank">{{file_name}}</a></p>

            <p class="certificate_label">Check a proof online:</p>
            <img src="https://chart.googleapis.com/chart?cht=qr&chs=80x80&chld=L|0&chl={{url}}" alt="" style="margin-top: 5px;">
        </div>

    </div>
</div>
