{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}
    <section class="home bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="home-wrapper">
                        {{#if image}}
                            <figure class="author-image author-image-header">
                                <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
                            </figure>
                        {{/if}}
                        <h1 class="animated fadeInDown wow" data-wow-delay=".1s">{{name}}</h1>
                        {{#if bio}}
                            <h4 class="page-sub-title animated fadeInDown wow" data-wow-delay=".3s">{{bio}}</h4>
                        {{/if}}
                        <i class="glyphicon glyphicon-pencil"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/author}}

{{!-- The tag below includes the post loop - partials/loop.hbs --}}
{{> "loop"}}
