<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Favicon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}" type="image/x-icon"/>
    <link rel="icon" type="image/png" href="{{asset "images/favicon/favicon-32x32.png"}}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{asset "images/favicon/favicon-16x16.png"}}" sizes="16x16"/>
    <link rel="apple-touch-icon-precomposed" href="{{asset "images/favicon/favicon-152x152.png"}}"/>

    {{!-- Bootstrap core CSS --}}
    <link href="{{asset "/css/bootstrap.min.css"}}" rel="stylesheet">

    {{!-- Animate --}}
    <link href="{{asset "css/animate.css"}}" rel="stylesheet">

    {{!-- Custom font --}}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    {{!-- Custom styles for this template --}}
    <link href="{{asset "css/style.css"}}" rel="stylesheet">
    <link href="{{asset "css/custom.css"}}" rel="stylesheet">

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body>

    {{!-- Pre-loader --}}
    <div class="preloader">
        <div class="status">&nbsp;</div>
    </div>

    {{!-- The blog navigation links --}}
    {{navigation}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- The tiny footer at the very bottom --}}
    <footer class="site-footer clearfix">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
    </footer>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script src="{{asset "js/jquery.js"}}"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- His Majesty the Bootstrap --}}
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    {{!-- Jquery easing --}}
    <script type="text/javascript" src="{{asset "js/jquery.easing.1.3.min.js"}}"></script>
    <script src="{{asset "js/wow.min.js"}}"></script>
    {{!-- Sticky header --}}
    <script type="text/javascript" src="{{asset "js/jquery.sticky.js"}}"></script>
    <script src="{{asset "js/waypoints.min.js"}}" type="text/javascript"></script>
    {{!-- Common script for all pages --}}
    <script src="{{asset "js/jquery.app.js"}}"></script>
    {{!-- Google Analytics --}}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-85962154-1', 'auto');
        ga('send', 'pageview');
    </script>

</body>
</html>
