{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

    {{!-- Title --}}
    <section class="home bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="home-wrapper">
                        <h1 class="animated fadeInDown wow" data-wow-delay=".1s">{{title}}</h1>
                        <div class="blog-detail-header margin-t-30">
                            <span>
                                <i class="glyphicon glyphicon-calendar"></i> {{date format="DD MMMM YYYY"}}
                            </span>
                            {{#author}}
                                <span>
                                    <i class="glyphicon glyphicon-user"></i> <a href="{{url}}">{{name}}</a>
                                </span>
                            {{/author}}
                            {{#if tags}}
                                <span>
                                <i class="glyphicon glyphicon-tags"></i> {{tags}}
                            </span>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section blog-details">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 blog-content">
                    {{!-- Content --}}
                    {{content}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                    <footer class="row">
                        {{!-- Author --}}
                        {{#author}}
                            <section class="col-md-6">
                                {{#if image}}
                                    <figure class="author-image pull-left">
                                        <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                                    </figure>
                                {{/if}}
                                <h4 class="author-name">{{name}}</h4>
                                {{#if bio}}
                                    <p class="text-muted">{{bio}}</p>
                                {{/if}}
                                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                            </section>
                        {{/author}}

                        {{!-- Share to social networks --}}
                        <section class="col-md-6 share">
                            <hr class="hidden-md hidden-lg">
                            <h4>Share this post</h4>
                            <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                                <i class="icomoon-twitter"></i>
                                <span class="hidden">Twitter</span>
                            </a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                                <i class="icomoon-facebook"></i>
                                <span class="hidden">Facebook</span>
                            </a>
                            <a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                                <i class="icomoon-google-plus"></i>
                                <span class="hidden">Google+</span>
                            </a>
                        </section>
                    </footer>
                </div>
            </div>
        </div>
    </section>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {{!-- Paging  --}}
                    <nav>
                        <ul class="pager">
                            {{#prev_post}}
                                <li class="pager-prev"><a href="{{url}}"><span aria-hidden="true">&larr;</span> {{title}}</a></li>
                            {{/prev_post}}
                            {{#next_post}}
                                <li class="pager-next"><a href="{{url}}">{{title}} <span aria-hidden="true">&rarr;</span></a></li>
                            {{/next_post}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

{{/post}}
